<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANALYTICS</title>
</head>
<body>
    <div class="list">
        <ul>
            <li>jdhfdjkf</li>
            <li>jdhfdjkf</li>
            <li>jdhfdjkf</li>
            <li>jdhfdjkf</li>
            <li>jdhfdjkf</li>
        </ul>
    </div>
    <script src="./static/scripts/index.js"></script>
    <script>
        getList();
        async function getList(){
            var user = JSON.parse(atob(getCookie('token').split('.')[1]));
            var j = {
                user: user.id,
            }
            await fG('/s/kkkk').then(e=>e.json()).then(json=>{
                {{!-- for(var str in json.strs){ --}}
                    {{!-- var f = createElem('li');
                    f.mainURL = json[i][0];
                    f.innerHTML = str;
                    document.querySelector('.list ul').appendChild(f); --}}

                    console.log(json);
                {{!-- } --}}
            });
        }
    </script>
</body>
</html>